@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 18%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;

    --primary: 239 51% 36%;
    --primary-foreground: 0 0% 98%;

    --secondary: 195 47% 86%;
    --secondary-foreground: 0 0% 18%;

    --muted: 240 29% 88%;
    --muted-foreground: 215 14% 51%;

    --accent: 152 77% 93%;
    --accent-foreground: 0 0% 18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 239 51% 36%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 217 33% 7%;
    --foreground: 0 0% 98%;

    --card: 217 33% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 217 33% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 239 51% 36%;
    --primary-foreground: 0 0% 98%;

    --secondary: 217 19% 27%;
    --secondary-foreground: 0 0% 98%;

    --muted: 217 19% 27%;
    --muted-foreground: 215 14% 51%;

    --accent: 217 19% 27%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 239 51% 36%;
  }
}

@layer utilities {
  .bg-gradient-primary {
    background: linear-gradient(to right, #2D2E89, #394754);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}